@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("/fonts/ProximaNova-Regular.eot");
  src: url("/fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/ProximaNova-Regular.woff") format("woff"), url("/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("/fonts/ProximaNova-Bold.eot");
  src: url("/fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/ProximaNova-Bold.woff") format("woff"), url("/fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Extra Bold';
  src: url("/fonts/ProximaNova-Extrabld.eot");
  src: url("/fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("/fonts/ProximaNova-Extrabld.woff") format("woff"), url("/fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.header {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Proxima Nova Bold";
  z-index: 100;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.header__wrap {
  width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  padding-left: 80px;
}

.header__item a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__btn {
  width: 25px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 100px;
}

.header__btn span {
  position: relative;
  display: block;
  width: 25px;
  height: 2px;
  background-color: red;
}

.header__btn span::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  width: 25px;
  height: 2px;
  background-color: green;
}

.header__btn span::after {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  width: 25px;
  height: 2px;
  background-color: yellow;
}

.main {
  width: 100%;
  height: 100vh;
  background-image: url(../img/main-bg2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.main__title {
  font-size: 48px;
  font-family: "Proxima Nova Extra Bold";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  max-width: 600px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
